<app-header-breadcrumb [title]="'Adopta a una mascota'" [items]="['Home']" [active_item]="'Adopta a una mascota'"></app-header-breadcrumb>
<!-- ROW-1 OPEN -->
<div class="row row-cards ">
    <div class="col-md-4">
        <div class="card">
            <img routerLink="/pages/blog-details" class="card-img-top br-tr-7 br-tl-7" src="../../assets/images/media/belier.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Conejo</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Este lindo conejito busca un hogar aqui te contamos su historia.</p>
                    <a  routerLink="/pages/blog-details"  class="btn btn-square btn-primary-light me-1">Mas información...</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card">
            <img routerLink="/pages/blog-details" class="card-img-top br-tr-7 br-tl-7" src="../../assets/images/media/chihuahua.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Hamster</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Los Hamster son super lindos, conoce mas sobre ellos...

                </p>
                    <a  routerLink="/pages/detalles2"  class="btn btn-square btn-primary-light me-1">Mas información...</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card ">
            <img routerLink="/pages/blog-details" class="card-img-top br-tr-7 br-tl-7" src="../../assets/images/media/cabezadeleon.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Hamster Cabeza de león</h5>
            </div>
            <div class="card-body">
                <p class="card-text">El conejo cabeza de león debe su nombre al pelo largo que tiene en la cabeza y el cuello a modo de melena. Conoce más sobre el...</p>
                    <a  routerLink="/pages/blog-details"  class="btn btn-square btn-primary-light me-1">Mas información...</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card">
            <img routerLink="/pages/blog-details" class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/Scottishfold.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Gato Scottishfold</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Conoce más sobre este lindo gatito</p>
                    <a  routerLink="/pages/blog-details"  class="btn btn-square btn-primary-light me-1">Mas información...</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card ">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/Birman.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Gato Birman</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Buscamos un hogar para el conoce un poco de su vida.</p>
                    <a  routerLink="/pages/blog-details"  class="btn btn-square btn-primary-light me-1">Mas información...</a>

            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card ">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/Bengal.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Gato de Bengala</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Conoce más sobre nuestro gatito de bengala</p>
                    <a  routerLink="/pages/blog-details"  class="btn btn-square btn-primary-light me-1">Mas información...</a>
            </div>
        </div>
    </div>


</div>
<!-- ROW-1 CLOSED -->
