<app-header-breadcrumb [title]="'Blog'" [items]="['Pages']" [active_item]="'Blog'"></app-header-breadcrumb>
<!-- ROW-1 OPEN -->
<div class="row row-cards ">
    <div class="col-md-4">
        <div class="card">
            <img routerLink="/pages/blog-details" class="card-img-top br-tr-7 br-tl-7" src="../../assets/images/media/belier.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Blog title </h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a  routerLink="/pages/blog-details" class="btn btn-primary btn-md">Read more</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card">
            <img routerLink="/pages/blog-details" class="card-img-top br-tr-7 br-tl-7" src="../../assets/images/media/chihuahua.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Blog title</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a  routerLink="/pages/blog-details" class="btn btn-primary btn-md">Read more</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card ">
            <img routerLink="/pages/blog-details" class="card-img-top br-tr-7 br-tl-7" src="../../assets/images/media/cabezadeleon.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Blog title</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a  routerLink="/pages/blog-details" class="btn btn-primary btn-md">Read more</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card">
            <img routerLink="/pages/blog-details" class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/Scottishfold.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Blog title</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a  routerLink="/pages/blog-details" class="btn btn-primary btn-md">Read more</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card ">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/Birman.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Blog title</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a  routerLink="/pages/blog-details" class="btn btn-square btn-danger-light me-1">Read more</a>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-4">
        <div class="card ">
            <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/Bengal.jpg" alt="Card image cap">
            <div class="card-header">
                <h5 class="card-title">Blog title</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a  routerLink="/pages/blog-details" class="btn btn-primary btn-md">Read more</a>
            </div>
        </div>
    </div>


</div>
<!-- ROW-1 CLOSED -->
