<app-header-breadcrumb [title]="'Amor Animal'" [items]="['Home']" [active_item]="'Amor Animal'"></app-header-breadcrumb>

<!-- <h2 class="card-title">Bienvenido</h2>

<div class="col-md-4">
  <div class="card ">
      <img class="card-img-top br-tr-7 br-tl-7 " src="../../assets/images/media/1588700167.jpg" alt="Card image cap">
      <div class="card-header">
          <h5 class="card-title">Ellos estan en busca de un hogar.¿Quieres ayudarlos?</h5>
          <div class="card-body">
            <a  routerLink="/pages/blog" class="btn btn-info btn-md">Adopta Aqui!!!</a>
          </div>

      </div>

  </div> -->

  <section class="container-fluid">

		<div class="row bg-img-principal align-items-center">
			<div class="offset-5 col-6 bg-light p-3 d-none d-lg-block">
				<h3 class="font-color-general">Clínica veterinaria que en verdad se preocupa por tu 🐕</h3>
				<p>
					Tenemos más de 10 años ofreciendo nuestros servicios a personas como tú, que necesitan la mejor atención para su mascota.
				</p>
				<p>
					Tenemos disponibles a los mejores veterinarios de la ciudad. Están en capacitación constante y siempre disponibles para darte el mejor servicio.
				</p>
			</div>


			<div class="col-10 mx-auto bg-light p-3 d-block d-lg-none">
				<h3 class="font-color-general">Clínica veterinaria que en verdad se preocupa por tu 🐕</h3>
				<p>
					Tenemos más de 10 años ofreciendo nuestros servicios a personas como tú, que necesitan la mejor atención para su mascota.
				</p>
				<p>
					Tenemos disponibles a los mejores veterinarios de la ciudad. Están en capacitación constante y siempre disponibles para darte el mejor servicio.
				</p>
			</div>

		</div>

	</section>

<!-- INICIO SECCIÓN NOSOTROS-->

<section class="container-fluid bg-color-azul p-3">

  <h4 class="text-white text-center p-3">
    ¿Quiénes somos?
  </h4>

  <hr class="hrblanco">

  <div class="row  align-items-center">
    <div class="col-12 col-lg-6">
      <img src="img/vets.jpg" class="img-fluid p-3" alt="nosotros">
    </div>
    <div class="col-12 col-lg-6 text-white p-3">
      <h4 class="my-3" >
        Nosotros:
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>

      <p class="text-center">
        <a href="#" class="font-weigth-bolder-bold text-white">Pide una cita</a>
      </p>
    </div>
  </div>
</section>
